@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/Back.png);
  box-sizing: border-box;
}

.game-background {
  font-family: 'Roboto', sans-serif;
  /* background-image: url(../img/Background.png); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

.menu {
  padding-top: 40px;
  padding-left: 103px;
}

.menu::before {
  content: "";
  background-image: url("../img/Card1.png");
  background-size: 218px 341px;
  position: absolute;
  top: 318px;
  right: 200px;
  width: 218px;
  height: 341px;
  left: 1101.78px;
  transform: rotate(40deg);
  z-index: 1;
  border-radius: 9px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.menu::after {
  content: "";
  background-image: url("../img/Card1.png");
  background-size: 218px 341px;
  position: absolute;
  width: 218px;
  height: 341px;
  top: 312px;
  left: 927px;
  transform: rotate(12deg);
  border-radius: 9px;
  box-shadow: -2px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-title {
  margin-bottom: 60px;
}

h1 {
  font-size: 57px;
  font-weight: 700;
  line-height: 66.8px;
  margin-bottom: 8px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

.difficulty {
  list-style: none;
  margin-bottom: 112px;
}

.difficulty__level {
  display: block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
  margin-bottom: 24px;
  padding-left: 39px;
  outline-style: none;
  position: relative;
}

.difficulty__level:hover {
  cursor: pointer;
}

.checked::before {
  content: "";
  background-color: #D62B2E;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 17px;
  transform: rotate(45deg);
}

.btn-start {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  color: #ffffff;
  width: 352px;
  height: 95px;
  position: relative;
  background-color: #D62B2E;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline-style: none;
  border-width: 0;
  margin-bottom: 60px;
}

.btn-start:hover {
  cursor: pointer;
}

.card-room {
  margin: 0 auto;
  width: 100%;
  perspective: 1000px; 
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card-table {
  padding-left: 25px;
}

.game-cards {
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 1440px;
  /* height: 100vh; */
  /* height: 1024px; */
}

.cardsForEasy {
  padding-top: 80px;
}

.cardsForMedium {
  /* padding-top: 30px; */
  max-width: 730px;
}

.cardsForHard {
  /* padding-top: 100px; */
  max-width: 1210px;
}

.card {
  display: inline-block;
  background-image: url(../img/Card1.png);
  background-size: 218px 341px;
  background: transparent;
  width: 218px;
  height: 341px;
  margin: 0 24px 24px 0;
}

.hover-cards:hover {
  transform: rotate(-3deg) translateY(-26px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transition: .5s ease-in-out;
}

.flip-card-inner {
  position: relative;
  width: 218px;
  height: 341px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.transform {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 218px;
  height: 341px;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

img {
  width: 218px;
  height: 341px;
}

@media only screen and (max-width: 1100px) {
  .menu::before,
  .menu::after {
    display: none;
  }
}

@media only screen and (max-width: 1680px) {
  
  .cardsForHard {
    padding-top: 50px;
    max-width: 1300px;
  }

  .cardsForMedium {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1000px) {

  .cardsForHard {
    padding-top: 50px;
    max-width: 800px;
  }

  .cardsForMedium {
    padding-top: 70px;
    max-width: 600px;
  }

  .card {
    width: 130px;
    height: 200px;
  }

  img {
    width: 130px;
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  
  .cardsForHard {
    padding-top: 150px;
    max-width: 600px;
  }

  .cardsForMedium {
    padding-top: 200px;
    max-width: 350px;
  }

  .card {
    width: 100px;
    height: 150px;
  }

  img {
    width: 100px;
    height: 150px;
  }

  .menu {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 466px) {
  
  .menu {
    padding: 40px 0 0 30px;
    font-size: 0.5rem;
  }

  .game-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  h1 {
    padding-right: 19px;
  }

  .menu {
    margin-bottom: 40px;
  }

  .difficulty {
    margin-bottom: 70px;
  }

  .difficulty__level {
    font-size: 35px;
    line-height: 30px;
  }

  .btn-start {
    font-size: 32px;
    line-height: 37px;
    width: 255px;
    height: 70px;
  }

  .checked::before {
    top: 10px;
  }

  .card-table {
    margin-left: 0;
  }

  .card {
    width: 70px;
    height: 108px;
  }

  .cardsForHard {
    padding-top: 100px;
    max-width: 350px;
  }

  .cardsForMedium {
    padding-top: 70px;
    max-width: 300px;
    padding-right: 100px;
  }

  .cardsForEasy {
    padding-top: 100px;
    max-width: 300px;
    padding-right: 150px;
  }

  img {
    width: 73px;
    height: 100px;
  }
}