@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  box-sizing: border-box;
}

.game-background {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  width: 1440px;
}

.menu {
  padding-top: 129px;
  padding-left: 103px;
}

.menu::before {
  content: "";
    background-image: url("../img/Card1.png");
    background-size: 218px 341px;
    position: absolute;
    top: 518px;
    right: 158px;
    width: 218px;
    height: 341px;
    left: 1101.78px;
    transform: rotate(40deg);
    z-index: 1;
    border-radius: 9px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.menu::after {
  content: "";
  background-image: url("../img/Card1.png");
  background-size: 218px 341px;
  position: absolute;
  width: 218px;
  height: 341px;
  top: 512px;
  left: 926.33px;
  transform: rotate(12deg);
  border-radius: 9px;
  box-shadow: -2px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-title {
  margin-bottom: 60px;
}

h1 {
  font-size: 57px;
  font-weight: 700;
  line-height: 66.8px;
  margin-bottom: 8px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

.difficulty {
  list-style: none;
  margin-bottom: 112px;
}

.difficulty__level {
  display: block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
  margin-bottom: 24px;
  padding-left: 24px;
  outline-style: none;
}

.btn-start {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  color: #ffffff;
  width: 352px;
  height: 95px;
  position: relative;
  background-color: #D62B2E;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline-style: none;
  border-width: 0;
  margin-bottom: 305px;
}
